body {
    margin: 0;
    overflow: hidden;
    background: black;
    scroll-behavior: smooth;
}

#video {
    width: 100vw;
    height: 100vh;
}

#source {
    top: 0;
}

#fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#title {
    padding: 10px;
    margin: 0;
    font-size: 20px;
    color: #00b3ff;
    font-family: helvetica, arial;
}

#bottom {
    padding: 10px;
    margin: 0;
    font-size: 20px;
    color: white;
    font-family: helvetica, arial;
}

a {
    color: white;
    text-decoration: underline
}

th,
td {
    border: 1px solid rgb(52, 52, 52)
}